<section>
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="~/img/about.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="mb-4">A part of the Dubizzle Group Holdings Limited, the only homegrown Unicorn in the Arab region!</h1>
                    <p class="mb-4">
                        KeyHouse is your ultimate destination for all your real estate needs in Egypt. We are a leading online platform that connects property buyers, sellers, and renters with the best real estate developers and agents in the country.
                        We understand that buying, selling, or renting a property can be a daunting task, and that's why we have created a user-friendly platform that makes the process easy and hassle-free.
                        KeyHouse is also the most well-funded tech startup with over $500M invested by well-known investors like Affinity Partners, Acacia Partners, Naspers, KCK group and Exor, fortifying our position in the global classifieds industry.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

</section>